@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=intercambio');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{ 
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 16px;
}


body{
    font-family: 'Roboto', sans-serif;
}

/* ********************* MENÚ DE NAVEGACIÓN ****************** */
header{
    background-color: rgb(245,245,245);
    box-shadow: 1px 1px 10px 0 rgba(0,0,.2);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

header a:hover{
    color: blueviolet;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 80px;
    margin-right: 10px;
    
}

nav a:hover{
    color: blueviolet;
}

/* ********************* SECTION PRINCIPAL ****************** */

.fondo  a{
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(97, 31, 31, 0.46);
}

section a{
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(97, 31, 31, 0.46);
}

.boton:hover{
    background-color: rgb(97, 30, 160);
}

.container{
    max-width: 1400px;
    margin: auto;
}

#fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    
    ,url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#fondo h1{
    color: white;
}

.nosotros, .container{
    text-align: center;
    padding: 200px 12px;
    color: white;

}

.container-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    
    ,url("../img/header2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#nosotros h2{
    font-size: 35px;
    text-transform: uppercase;
}

#nosotros p{
    text-align: center;
    font-size: 20px;
}

#nuestros-productos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-productos .container{
    padding: 150px 12px;
}

#nuestros-productos h2{
    margin-top: 0;
    font-size: 35px;
    text-transform: uppercase;
}

#nuestros-productos p{
    display: none;
}

#nuestros-productos .carta1, .carta2, .carta3{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta1{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    
    ,url("../img/reloj-exclusivo.jpg");
}

.carta2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    
    ,url("../img/reloj-clasico.jfif");
}

.carta3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    
    ,url("../img/reloj-lujo.webp");
}

/* ********************* FOOTER ****************** */

footer{
    background-color: rgb(245,245,245);
}

footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    text-transform: uppercase;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

ul{
    list-style: none;
    margin-bottom: 10px;
}

li{
    padding: 10px 10px;
    padding-bottom: 5px;
}